<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Ormelo - Trial & Shop</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 599px){
    .container{
        with: 100%;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 103px;
      background-size: cover;
      background-position-y: -15px;
    }
    .logo {
      background-image: url(logo_m.png);
      width: 130px;
      height: 46px;
      margin: 0 auto;
      background-size: contain;
      top: 20px;
      position: relative;
    }
    .headline {
      margin: 0 auto;
      width: 270px;
      font-size: 28px;
    }
    .description {
      margin: 0 auto;
      width: 80%;
      font-size: 18px;
      margin-top: 12px;
      text-align: center;
      line-height: 26px;
      padding-bottom: 46px;
    }
    .gylph img {
      width: 134px;
    }
    .gylph {
        width: 134px;
        margin: 0 auto;
    }
}
@media (min-width: 600px){
    .container{
        with: 100%;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 123px;
      background-size: cover;
      background-position-y: -31px;
    }
    .logo {
      background-image: url(logo_s.png);
      width: 152px;
      height: 50px;
      margin-top: 0px;
      margin-left: 60px;
      background-size: contain;
      top: 40px;
      position: relative;
    }
    .headline {
      margin-left: 65px;
      width: 300px;
      padding-top: 50px;
      font-size: 30px;
    }
    .description {
      margin-left: 65px;
      width: 80%;
      font-size: 20px;
      padding-bottom: 50px;
      margin-top: 12px;
      line-height: 26px;
    }
    .gylph img {
      width: 184px;
    }
    .gylph {
        width: 200px;
        margin: 0 auto;
    }
}
@media (min-width: 1025px){
    .container{
        width: 1025px;
        margin: 0 auto;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 123px;
      background-size: cover;
      background-position-y: -31px;
    }
    .logo {
      background-image: url(logo_m.png);
      background-size: contain;
      position: relative;
      width: 187px;
      height: 70px;
      left: 80px;
      margin-top: 0px;
      margin-left: 0px;
      top: 30px;
    }
    .headline {
      margin-left: 85px;
      width: 400px;
      padding-top: 50px;
      font-size: 36px;
      font-weight: 500;
    }
    .description {
      margin-left: 85px;
      width: 80%;
      font-size: 24px;
      padding-bottom: 50px;
      margin-top: 12px;
      line-height: 26px;
    }
    .gylph img {
      width: 184px;
    }
    .gylph {
        width: 200px;
        margin: 0 auto;
    }
}

</style>
</head>

<body>
<div class="container">
<div class="glitter">
<div class="logo"></div>
</div>
<div class="headline">Introducing Trial & Shop</div>
<div class="description">Simply take a selfie, trial clothes online & see how they look & fit you before buying.</div>
<div class="gylph"><img src="gs_img.png"/></div>
</div>
</body>

</html>

