<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Ormelo - Trial & Shop</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}
.button-container {
    padding-top: 36px;
    margin: 0 auto;
    position: relative;
    width: 172px;
}
.capture {
  padding-top: 36px;
    margin: 0 auto;
    position: relative;
    width: 172px;
    bottom: 200px;
    z-index: 9999;
}
.btn {
    display: block;
    height: 50px;
    width: 186px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 34px;
}
.btn span {
    position: relative;
    top: 14px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
.btn:after {
    position: absolute;
    content: '';
    display: inline-block;
    background: #fe2f00;
    background: -webkit-linear-gradient(45deg, #fe2f00 0%, #fe2f00 25%, #fe8748 81%, #fe8748 100%);
    background: linear-gradient(45deg, #fe2f00 0%, #fe2f00 25%, #fe8748 81%, #fe8748 100%);
    height: 50px;
    width: 372px;
    z-index: -1;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-transition: -webkit-transform 400ms ease-in;
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}
.btn:hover:after {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
}
.description.enabled {
      opacity: 1;
    }
    .description {
      font-size: 20px;
      text-align: center;
      line-height: 26px;
      padding-bottom: 46px;
      position: relative;
      top: 26px;
      margin-right: 24px;
      opacity: 0.3;
    }
    .top-menu {
      position: absolute;
      top: 0px;
      margin-left: 50px;
    }
@media (max-width: 599px){
    .container{
        with: 100%;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 103px;
      background-size: cover;
      background-position-y: -15px;
    }
    .large-logo {
      display: none;
    }
    .headline {
      margin: 0 auto;
      width: 270px;
      font-size: 28px;
    }
    .gylph img {
      width: 134px;
    }
    .gylph {
        width: 134px;
        margin: 0 auto;
        left: 6px;
        position: relative;
    }
    .button-container {
      padding-top: 36px;
      margin: 0 auto;
      position: relative;
      width: 184px;
    }
}
@media (min-width: 600px){
    .container{
        with: 100%;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 123px;
      background-size: cover;
      background-position-y: -31px;
    }
    .large-logo {
      display: inline;
      width: 134px;
    }
    .small-logo {
      display: none;
    }
    .top-menu {
      position: absolute;
      top: 0px;
      margin-left: 190px;
    }
    .headline {
      margin-left: 65px;
      width: 300px;
      padding-top: 50px;
      font-size: 30px;
    }
    .gylph img {
      width: 184px;
      margin-left: 26px;
    }
    .gylph {
        width: 200px;
        margin: 0 auto;
    }
    .button-container {
      padding-top: 36px;
      margin: 0 auto;
      position: relative;
      width: 172px;
    }
}
@media (min-width: 1025px){
    .container{
        width: 1025px;
        margin: 0 auto;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 123px;
      background-size: cover;
      background-position-y: -31px;
    }
    .large-logo {
      display: inline;
      width: 154px;
    }
    .small-logo {
      display: none;
    }
    .top-menu {
      position: absolute;
      top: 0px;
      margin-left: 280px;
    }
    .headline {
      margin-left: 85px;
      width: 400px;
      padding-top: 50px;
      font-size: 36px;
      font-weight: 500;
    }
    .gylph img {
      width: 184px;
      margin-left: 26px;
    }
    .gylph {
        width: 200px;
        margin: 0 auto;
    }
    .button-container {
      padding-top: 36px;
      margin: 0 auto;
      position: relative;
      width: 172px;
    }
}
.app{
    width: 100%;
    position: relative;
}

.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    display: none;
    width: 100%;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.app .controls a{
    color: #fff;
    background-color: #fff;
    text-decoration: none;
    padding: 34px;
    line-height: 0;
    opacity: 0.3;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app a#take-photo {
    position: absolute;
    margin: 0px auto;
    width: 50%;
    text-align: center;
    height: 55%;
    top: 0%;
    border-radius: 0px;
    left: 25.4%;
}

.app a#delete-photo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0%;
    text-align: center;
}

.app a#download-photo {
    visibility: hidden;
}

.app .controls a:hover{
    opacity: 1;
}

.app .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 18px;
}

.app .controls #take-photo i{
    font-size: 32px;
}

.app canvas{
    display: none;
}

.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls.visible{
    display: flex;
}

</style>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="scripts/selfie.js"></script>
</head>

<body>
<div class="container">
<div>
<span class="logo">
  <img class="small-logo" src="logos.png" style="width: 28px;margin: 12px 12px;">
  <img class="large-logo" src="logom.png" style="margin: 12px 12px;">
</span>
<div class="top-menu"><span class="description enabled">Take Selfie</span><span class="description">Enter Height</span><span class="description">Shop</span></div>

<div class="app">

    <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
    <video id="camera-stream"></video>
    <img id="snap">

    <p id="error-message"></p>

    <div class="controls">
      <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><span>WAIST</span></a>
      <a href="#" id="take-photo" title="Take Photo" class="disabled"><span>FACE</span></a>
      <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>  
    </div>

    <!-- Hidden canvas element. Used for taking snapshot of video. -->
    <canvas></canvas>

  </div>
<div class="button-container capture">
  <a href="#" class="btn"><i class="material-icons" style="position: absolute;top: 13px;left: 31px;">camera_alt</i><span style="position: absolute;left: 66px;">Capture</span></a>
</div>
</div>
</body>

</html>
