<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Ormelo - Trial & Shop</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}
.button-container {
    padding-top: 36px;
    margin: 0 auto;
    position: relative;
    width: 172px;
}
.btn {
    display: block;
    height: 50px;
    width: 186px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 34px;
}
.btn span {
    position: relative;
    top: 14px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
.btn:after {
    position: absolute;
    content: '';
    display: inline-block;
    background: #fe2f00;
    background: -webkit-linear-gradient(45deg, #fe2f00 0%, #fe2f00 25%, #fe8748 81%, #fe8748 100%);
    background: linear-gradient(45deg, #fe2f00 0%, #fe2f00 25%, #fe8748 81%, #fe8748 100%);
    height: 50px;
    width: 372px;
    z-index: -1;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-transition: -webkit-transform 400ms ease-in;
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}
.btn:hover:after {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
}
@media (max-width: 599px){
    .container{
        with: 100%;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 103px;
      background-size: cover;
      background-position-y: -15px;
    }
    .logo {
      
    }
    .headline {
      margin: 0 auto;
      width: 270px;
      font-size: 28px;
    }
    .description {
      font-size: 20px;
      text-align: center;
      line-height: 26px;
      padding-bottom: 46px;
      position: absolute;
      top: 26px;
    }
    .gylph img {
      width: 134px;
    }
    .gylph {
        width: 134px;
        margin: 0 auto;
        left: 6px;
        position: relative;
    }
    .button-container {
      padding-top: 36px;
      margin: 0 auto;
      position: relative;
      width: 184px;
    }
}
@media (min-width: 600px){
    .container{
        with: 100%;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 123px;
      background-size: cover;
      background-position-y: -31px;
    }
    .logo {
      
    }
    .headline {
      margin-left: 65px;
      width: 300px;
      padding-top: 50px;
      font-size: 30px;
    }
    .description {
      font-size: 20px;
      text-align: center;
      line-height: 26px;
      padding-bottom: 46px;
      position: absolute;
      top: 26px;
    }
    .gylph img {
      width: 184px;
      margin-left: 26px;
    }
    .gylph {
        width: 200px;
        margin: 0 auto;
    }
    .button-container {
      padding-top: 36px;
      margin: 0 auto;
      position: relative;
      width: 172px;
    }
}
@media (min-width: 1025px){
    .container{
        width: 1025px;
        margin: 0 auto;
    }
    .glitter {
      background-image: url(glitter.jpg);
      height: 123px;
      background-size: cover;
      background-position-y: -31px;
    }
    .logo {
      
    }
    .headline {
      margin-left: 85px;
      width: 400px;
      padding-top: 50px;
      font-size: 36px;
      font-weight: 500;
    }
    .description {
      font-size: 20px;
      text-align: center;
      line-height: 26px;
      padding-bottom: 46px;
      position: absolute;
      top: 26px;
    }
    .gylph img {
      width: 184px;
      margin-left: 26px;
    }
    .gylph {
        width: 200px;
        margin: 0 auto;
    }
    .button-container {
      padding-top: 36px;
      margin: 0 auto;
      position: relative;
      width: 172px;
    }
}
.app{
    width: 100%;
    position: relative;
}

.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    display: none;
    width: 100%;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.app .controls a{
    color: #fff;
    background-color: #fff;
    text-decoration: none;
    padding: 34px;
    line-height: 0;
    opacity: 0.3;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app a#take-photo {
    position: absolute;
    margin: 0px auto;
    width: 50%;
    text-align: center;
    height: 55%;
    top: 0%;
    border-radius: 0px;
    left: 25.4%;
}

.app a#delete-photo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0%;
    text-align: center;
}

.app a#download-photo {
    visibility: hidden;
}

.app .controls a:hover{
    opacity: 1;
}

.app .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 18px;
}

.app .controls #take-photo i{
    font-size: 32px;
}

.app canvas{
    display: none;
}



.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls.visible{
    display: flex;
}

</style>
<script type='text/javascript'>
window.onload=function(){
// References to all the element we will need.
var video = document.querySelector('#camera-stream'),
    image = document.querySelector('#snap'),
    start_camera = document.querySelector('#start-camera'),
    controls = document.querySelector('.controls'),
    take_photo_btn = document.querySelector('#take-photo'),
    delete_photo_btn = document.querySelector('#delete-photo'),
    download_photo_btn = document.querySelector('#download-photo'),
    error_message = document.querySelector('#error-message');


// The getUserMedia interface is used for handling camera input.
// Some browsers need a prefix so here we're covering all the options
navigator.getMedia = ( navigator.getUserMedia ||
                      navigator.webkitGetUserMedia ||
                      navigator.mozGetUserMedia ||
                      navigator.msGetUserMedia);


if(!navigator.getMedia){
  displayErrorMessage("Your browser doesn't have support for the navigator.getUserMedia interface.");
}
else{

  // Request the camera.
  navigator.getMedia(
    {
      video: { frameRate: { ideal: 10, max: 20 } }
    },
    // Success Callback
    function(stream){

      // Create an object URL for the video stream and
      // set it as src of our HTLM video element.
      video.src = window.URL.createObjectURL(stream);

      // Play the video element to start the stream.
      video.play();
      video.onplay = function() {
        showVideo();
      };

    },
    // Error Callback
    function(err){
      displayErrorMessage("There was an error with accessing the camera stream: " + err.name, err);
    }
  );

}


  // Start video playback manually.
  video.play();
  showVideo();

var forceRedraw = function(element){

    if (!element) { return; }

    var n = document.createTextNode(' ');
    var disp = element.style.display;  // don't worry about previous display style

    element.appendChild(n);
    element.style.display = 'none';

    setTimeout(function(){
        element.style.display = disp;
        n.parentNode.removeChild(n);
        console.log('done');
    },20); // you can play with this timeout to make it as short as possible
}

  setInterval(function(){ forceRedraw(document.getElementById('start-camera')); }, 3000); 

take_photo_btn.addEventListener("click", function(e){

  e.preventDefault();

  var snap = takeSnapshot();

  // Show image. 
  image.setAttribute('src', snap);
  image.classList.add("visible");

  // Enable delete and save buttons
  delete_photo_btn.classList.remove("disabled");
  download_photo_btn.classList.remove("disabled");

  // Set the href attribute of the download button to the snap url.
  download_photo_btn.href = snap;

  // Pause video playback of stream.
  video.pause();

});


delete_photo_btn.addEventListener("click", function(e){

  e.preventDefault();

  // Hide image.
  image.setAttribute('src', "");
  image.classList.remove("visible");

  // Disable delete and save buttons
  delete_photo_btn.classList.add("disabled");
  download_photo_btn.classList.add("disabled");

  // Resume playback of stream.
  video.play();

});



function showVideo(){
  // Display the video stream and the controls.

  hideUI();
  video.classList.add("visible");
  controls.classList.add("visible");
}


function takeSnapshot(){
  // Here we're using a trick that involves a hidden canvas element.  

  var hidden_canvas = document.querySelector('canvas'),
      context = hidden_canvas.getContext('2d');

  var width = video.videoWidth,
      height = video.videoHeight;

  if (width && height) {

    // Setup a canvas with the same dimensions as the video.
    hidden_canvas.width = width;
    hidden_canvas.height = height;

    // Make a copy of the current frame in the video on the canvas.
    context.drawImage(video, 0, 0, width, height);

    // Turn the canvas image into a dataURL that can be used as a src for our photo.
    return hidden_canvas.toDataURL('image/png');
  }
}


function displayErrorMessage(error_msg, error){
  error = error || "";
  if(error){
    console.log(error);
  }

  error_message.innerText = error_msg;

  hideUI();
  error_message.classList.add("visible");
}


function hideUI(){
  // Helper function for clearing the app UI.

  controls.classList.remove("visible");
  start_camera.classList.remove("visible");
  video.classList.remove("visible");
  snap.classList.remove("visible");
  error_message.classList.remove("visible");
}
}//]]> 

</script>
</head>

<body>
<div class="container">
<div>
<span class="logo">
  <img src="logos.png" style="width: 28px;margin: 12px 12px;">
  
</span>
<span class="description">Click Selfie</span></div>
<div class="app">

    <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
    <video id="camera-stream"></video>
    <img id="snap">

    <p id="error-message"></p>

    <div class="controls">
      <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><span>WAIST</span></a>
      <a href="#" id="take-photo" title="Take Photo" class="disabled"><span>FACE</span></a>
      <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>  
    </div>

    <!-- Hidden canvas element. Used for taking snapshot of video. -->
    <canvas></canvas>

  </div>
<div class="button-container">
  <a href="#" class="btn"><span>Capture</span></a>
  </div>
</div>
</body>

</html>
